@media (max-width: 1195px) {
    #header h2{
        font-size: 30px;
        text-align: center;
    }
    
    #header p{
        font-size: 10px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    #header h2{
        font-size: 20px;
    }
    
    #header p{
        font-size: 10px;
        text-align: center;
    }
    #wsp img{
        width: 50px;
        height: 50px;

        right: 15px;
        bottom: 15px;

      }
}

@media (max-width: 576px) {
    #logo {
        width: 100px;
        height: 100px;
        line-height: 100px;
    }
    #logo img{
        width: 80px;
    }
}