@media (max-width: 1195px) {
    #header h2{
        font-size: 30px;
        text-align: center;
    }
    
    #header p{
        font-size: 10px;
        text-align: center;
    }

    #precios .np {
        padding-left: 0px;
        padding-right: 0px;
    }
    #container {
        max-width: 1400px;
    }
}

@media (max-width: 990px) {
    #precios .np {
        padding: 10px;
    }
    #contacto h3 {
        font-size: 20px;
    }
    #condiciones .puzzle {
        margin-top: 0px;
    }
    #vistas {
        border-right: none;
    }
    #vistas p {
        padding-right: 0px;
    }
    #condiciones .puzzle {
        margin-left: 0px;
    }
    #condiciones .condi {
        margin-left: 0px;
    }
}

@media (max-width: 850px) {
    #lista-raya i{
        margin-bottom: 48px;
    }
}

@media (max-width: 768px) {
    #header h2{
        font-size: 20px;
    }
    
    #header p{
        font-size: 10px;
        text-align: center;
    }
    #wsp img{
        width: 50px;
        height: 50px;

        right: 15px;
        bottom: 15px;

      }
      #section-raya i {
        visibility: hidden;
        border-left: none;
    }

    #lista-raya i{
        margin-bottom: 28px;
    }
    #myCarousel img {
        height: 300px;
        width: 300px;
    }
    #myCarousel .col-sm-6 {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 5px;
        margin: 0;
    }
    #precios .contenedor {
        display: grid;
        justify-content: center;
        align-items: center;
    }
    #precios .col-12 {
        display: grid;
        justify-content: center;
        align-items: center;
    }
    #condiciones .contenedor .col-12:nth-of-type(1) {
        display: grid;
        justify-content: center;
        align-items: center;
    }
    #section1 .row{
        display: grid;
        justify-content: center;
        align-items: center;
    }
    #i{
        padding-left: 50px;
        padding-top: 10px;
        font-size: 20px;
    }
    #i img{
        left: 50px;
        top: 15px;
        width: 22px;
    }
}

@media (max-width: 576px) {
    #logo {
        width: 100px;
        height: 100px;
        line-height: 100px;
    }
    #logo img{
        width: 80px;
    }

    #lista-raya i{
        margin-bottom: 29px;
    }
    #myCarousel img {
        height: 200px;
        width: 200px;
    }
}

@media (max-width: 496px) {
    #lista-raya i{
        margin-bottom: 29px;
    }
}

@media (max-width: 493px) {
    #lista-raya i{
        margin-bottom: 45px;
    }
}

@media (max-width: 370px) {
    #lista-raya i{
        margin-bottom: 30px;
    }
    #contacto h2 {
        font-size: 35px;
    }
    #contacto h3 a {
        font-size: 22px;
    }
    .card {
        max-width: 320px;
    }
}