@media (max-width: 1195px) {
    #header h2{
        font-size: 30px;
        text-align: center;
    }
    
    #header p{
        font-size: 10px;
        text-align: center;
    }

    #precios .np {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 990px) {
    #precios .np {
        padding: 10px;
    }
}

@media (max-width: 850px) {
    #lista-raya i{
        margin-bottom: 48px;
    }
}

@media (max-width: 768px) {
    #header h2{
        font-size: 20px;
    }
    
    #header p{
        font-size: 10px;
        text-align: center;
    }
    #wsp img{
        width: 50px;
        height: 50px;

        right: 15px;
        bottom: 15px;

      }
      #section-raya i {
        visibility: hidden;
        border-left: none;
    }
    #section raya {
        margin-left: -30px;
    }

    #lista-raya i{
        margin-bottom: 28px;
    }
}

@media (max-width: 576px) {
    #logo {
        width: 100px;
        height: 100px;
        line-height: 100px;
    }
    #logo img{
        width: 80px;
    }

    #lista-raya i{
        margin-bottom: 29px;
    }
}

@media (max-width: 496px) {
    #lista-raya i{
        margin-bottom: 29px;
    }
}

@media (max-width: 493px) {
    #lista-raya i{
        margin-bottom: 45px;
    }
}

@media (max-width: 370px) {
    #lista-raya i{
        margin-bottom: 30px;
    }
}