/* Generales */
    div.col {
        padding-left: 0px;
        padding-right: 0px;
    }

    #container {
        max-width: 1400px;
    }

    .contenedor {
        max-width: 1343px;
    }

    .contenedor h4{
        letter-spacing: 2px;
    }

    .contenedor p{
        font-weight: 600;
    }
    .bga {
        background: #076480;
    }
    .bgv {
        background: #00AC90;
    }
    .bgn {
        background: #343740;
    }
    .bgg {
        background: #808287;
    }
/* /Generales */

/* Header */
    #header {
        min-height: 160px;
        background: #343740;
        border-bottom: 10px solid #666970;
    }

    .ctx-header {
        display: grid;
        justify-items: center;
        align-items: center;
    }

    #header h2{
        font-weight: bold;
        font-size: 35px;
        text-transform: uppercase;
        color: #07AC8F;
    }

    #header p{
        font-weight: bold;
        font-size: 10px;
        text-transform: uppercase;
        color: white;
        text-align: center;
    }
/* /Header */


/* Slider */
    .carousel-indicators li {
        width: 13px !important;
        height: 13px !important;
        border-radius: 100% !important;
        }
/* /Slider */


/* Info */
    #info {
        text-transform: uppercase;
        color: white;
    }

    #info p {
        font-weight: 500 !important;
        font-size: 14px !important;
        font-family: 'Ubuntu';
        letter-spacing: .5px;
    }
    #info h3 {
        font-weight: bold !important;
        font-size: 29px !important;
        letter-spacing: 1px;
        font-family: 'Ubuntu';
    }
    #brillo, #lupa, #camara {
        height: 284px;
        width: 466.667px;
        display: grid;
        justify-content: center;
    }

    #brillo h3, #lupa h3, #camara h3{
        text-align: center;
        margin-top: 20px;
    }

    #brillo p, #lupa p, #camara p{
        text-transform: initial;
        font-size: 13px;
        margin-top: 20px;
        margin-right: 30px;
        margin-left: 30px;
        text-align: justify;
    }

    #brillo img{
        justify-self: center;
        height: 34.54px;
        width: 34.54px;
    }
    #lupa img {
        justify-self: center;
        height: 36.615px;
        width: 33.4px;
    }
    #camara img {
        justify-self: center;
        height: 25.546px;
        width: 32px;
    }
/* /Info */

/* Section1 */
    #section1 {
        background: #f2f2f2;
        display: grid;
        justify-content: center;
    }

    #section1 {
        font-weight: 700;
    }

    .articles {
        background: #343740; 
    }

    #after {
        width: 1px;
        height: 100px;
        background-color: #00ad91;
    }

    .articles h4 {
        color: #07AC8F;
        text-transform: capitalize;
        font-weight: bold !important;
        font-size: 25px !important;
    }

    .articles p {
        color: white;
        font-weight: 400 !important;
        font-size: 17px !important;
    }

    .articles li {
        list-style: none;
    }
    #section-raya {
        display: flex;
    }
    #section-raya i {
        border-left: 0.5px solid #00ac90;
        margin-top: 60px;
        margin-bottom: 100px;
    }
    /* /Section1 */

    /* Gallery */
    #gallery1 {
        display: grid;
        justify-content: center;
    }

    #gallery1 img:hover {
        transform: scale(1.05);
    }
/* /Gallery */

/* Vistas */
    #vistas {
        border-right: 80px solid #00AC90;
    }
    #vistas .gl {
        padding-right: 10px;
        padding-left: 10px;
        margin-right: 0;
    }
    #myCarousel .col-sm-6 {
        padding-left: 0px;
        padding-right: 10px;
        padding-bottom: 10px;
        margin-right: 0px;
        margin-left: 0px;
    }
    #myCarousel img {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    #vistas .ctexto {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #vistas .caja {
        width: 400px;
    }
    #vistas .caja img {
        width: 245.258px;
    }
    #vistas p {
        font-family: 'ubuntu';
        font-weight: 400 !important;
        font-size: 17px !important;
    }
    #vistas .carousel-control-prev-icon,
    #vistas .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    background-image: none !important;
    }

    #vistas .carousel-control-next-icon:after
    {
    content: "\f054";
    font-family: "FontAwesome";
    font-size: 30px;
    color: #343740;
    }

    #vistas .carousel-control-prev-icon:after {
    content: "\f053";
    font-family: "FontAwesome";
    font-size: 30px;
    color: #343740;
    }
/* Vistas */


/* Precios */
    #precios {
        background: #f2f2f2;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    #precios .col-12 {
        display: grid;
        justify-content: center;
    }
    .card {
        width: 290px;
        min-height: 436.114px;
        font-family: 'Ubuntu' !important;
        justify-content: center;
    }
    .card h4 {
        color: white;
        font-size: 35.46px;
        font-weight: bolder !important;
        line-height: 35px;
        position: absolute;
        top: 15px;
        left: 60px;
        letter-spacing: 1px;
    }
    .card h6 {
        color: white;
        font-size: 16.24px;
        font-weight: 300 !important;
        margin-top: -10px;
        position: absolute;
        top: 57px;
        left: 60px;
    }
    .card:hover {
        box-shadow: 0px 0px 5px #343740;
    }
    .card img{
        position: absolute;
        right: 25px;
        top: 15px;
        height: 56.272px;
    }
    .gray {
        color: #00ac90;
        background: #d6d7d7 !important;
        height: 55.551px;
        text-align: center;
        font-weight: bold;
    }  
    .gray h5 {
        font-size: 38.6px;
        line-height: 80%;
        font-weight: bold;
    }
    .gray span {
        font-weight: 400;
        font-size: 24.89px;
    }
    .lista-precios {
        padding-bottom: 20px;
        margin-left: 25px;
        margin-right: 30px;
        list-style-type: none;
    }
    .lista-precios li {
        position: relative;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 45px;
        font-weight: 300;
        color: #626262;
        font-size: 17.79px;
    }
    .lista-precios li:before {
        position: absolute;
        left: 5px;
        top: 15px;
        content: url("../img/assets/Asset7.png");
    }
    .lista-precios li:nth-of-type(1) {
        /* border-bottom: 1px solid rgba(0, 0, 0, .125); */
        border-top: none;
    }
    .lista-precios li strong {
        font-size: 28px;
        font-weight: bold;
    }
    .head {
        min-height: 100px;
    }
    #basic .head {
        background: #076480;
    }
    #basic li strong {
        color: #076480;
    }
    #simple .head {
        background: #00ac90;
    }
    #simple li strong {
        color: #00ac90;
    }
    #comercial .head {
        background: #343740;
    }
    #comercial li strong{
        color: #343740;
    }
    #i img{
        position: absolute;
        left: 25px;
        top: 15px;
        width: 20px;
    }
    #i p {
        padding-left: 45px;
        font-size: 17.79px;
    }
/* /Precios */

/* condiciones */
    #lista-raya {
        display: flex;
    }

    #lista-raya i {
        border-left: 1px solid #0fa7c6;
        margin-top: 19px;
        margin-bottom: 33px;
    }

    #lista-raya ul {
        margin-left: -40px;
        list-style-type: none;
        color: #8d8e8d;
    }

    #lista-raya li{
        background: #fff url("../img/assets/guion.png") 0 3px no-repeat;
        padding: 0 0 0 25px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    #lista-raya ul li p {
        margin-top: -10px;
        font-weight: 300;
        font-style: italic;
        font-size: 20px;
    }
    #lista-raya h6 {
        font-weight: 400;
        font-size: 20px;
    }

    #text-cond {
        color: #8d8e8d;
        font-family: 'Ubuntu';
        font-size: 20px;
        font-weight: 400;
    }
    #condiciones {
        display: flex;
        justify-content: center;
    }
    #condiciones .puzzle {
        margin-top: -50px;
    }
/* /Condiciones */


/* /Contacto */
    #contacto {
        background: #707075;
        color: #FFFFFF;
        text-align: center;
    }

    #contacto h3 a{
        color: #FFFFFF;
        text-decoration: none;
    }

    #contacto h2:after {
        content: "";
        display: block;
        width: 50px;
        height: 2px;
        background-color: #00ad91;
        margin-top: 5px;
    }

    #contacto h2 {
        display: inline-block;
        font-weight: bold;
        font-size: 44px;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    #contacto h3 {
        font-weight: bold;
        font-size: 25.53px;
    }

    #contacto p {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 11px;
        font-weight: 400;
    }

    #contacto .social {
        padding-top: 20px;
    }

    #contacto .social a {
        color: #FFFFFF;
        font-size: 24px;
        text-decoration: none;
        margin: 10px;
    }

    #contacto .social a:hover .fa-instagram{
        transform: scale(1.3);
        color: violet;
    }

    #contacto .social a:hover .fa-facebook{
        transform: scale(1.3);
        color: rgb(84, 133, 238);
    }

    #contacto .social a:hover .fa-behance{
        transform: scale(1.3);
        color: black;
    }

    #contacto .social a:hover .fa-linkedin{
        transform: scale(1.3);
        color: rgb(84, 133, 238);
    }
/* /Contacto */


/* Footer */
    #main-footer {
        background-color: #00ad91;
        color: #FFFFFF;
        text-align: center;
        padding: 30px;
    }
/* /Footer */


/* Whatsapp */
    #wsp img{
        width: 70px;
        height: 70px;
        position: fixed;
        right: 70px;
        bottom: 50px;
        cursor: pointer;
        border-radius: 50%;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    }

    #wsp img:hover {
        filter: grayscale(50%);
        transform: scale(1.05);
    }
/* /Whatsapp */

