/* .container {
    border: 1px solid red;
    box-shadow: 0px 0px 10px #cccccc;
} */

/* .col {
    min-height: 160px;
    border: 1px solid blue;
} */

div.col {
    padding-left: 0px;
    padding-right: 0px;
}

* {
    font-family: 'Raleway', sans-serif !important;
}

.carousel-indicators li {
    width: 13px !important;
    height: 13px !important;
    border-radius: 100% !important;
    }

#header {
    min-height: 160px;
    background: #343740;
    border-bottom: 10px solid #666970;
}

.ctx-header {
    display: grid;
    justify-items: center;
    align-items: center;
}

#header h2{
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    color: #07AC8F;
}

#header p{
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.ctx-logo {
    display: flex;
    justify-content: center;
    align-content: center;
}



#logo {
    width: 150px;
    height: 150px;
    background: white;
    text-align: center;
    line-height: 150px;
}

#info {
    text-transform: uppercase;
    color: white;
}

.brillo {
    background: #00AC90;
}

.lupa {
    background: #066480;
}

.camara {
    background: #343740; 
}

.brillo, .lupa, .camara {
    height: 300px;
    display: grid;
    justify-content: center;
}

.brillo h3, .lupa h3, .camara h3{
    text-align: center;
    margin-top: 20px;
}

.brillo p, .lupa p, .camara p{
    text-transform: initial;
    font-size: 13px;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
    text-align: justify;
}

.brillo img, .lupa img, .camara img{
    justify-self: center;
}

#section1 {
    background: #f2f2f2;
}

.articles {
    background: #343740; 
}

#after {
    width: 1px;
    height: 100px;
    background-color: #00ad91;
}

.articles h4 {
    color: #07AC8F;
    text-transform: capitalize;
}

.articles p {
    color: white;
}

.articles li {
    list-style: none;
}

#gallery1 img:hover {
    transform: scale(1.05);
}

#precios {
    background: #f2f2f2;
}

#contacto {
    background-color: #686868;
    color: #FFFFFF;
    text-align: center;
}

#contacto h3 a{
    color: #FFFFFF;
    text-decoration: none;
}

#contacto h2:after {
    content: "";
    display: block;
    width: 50px;
    height: 5px;
    background-color: #00ad91;
    margin-top: 5px;
}

#contacto h2 {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#contacto p {
    margin-top: 0;
    margin-bottom: 1rem;
}

#main-footer {
    background-color: #00ad91;
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
}

#wsp img{
    width: 70px;
    height: 70px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  }
  
  #wsp img:hover {
    filter: grayscale(50%);
    transform: scale(1.05);
  }
  
  .gray {
      color: #00ac90;
      background: #d6d7d7 !important;
      height: 30px;
      font-weight: bold;
      font-family: 'Raleway', sans-serif !important;
  }

  .gray h5 {
      font-size: 25px;
      line-height: 5px;
  }

  .gray span {
      font-size: 15px;
  }

  #basic {
      background: #076480;
  }

  #basic h4 {
    color: white;
    font-size: 33px;
    line-height: 50px;
    background: #076480;
    font-style: Black 900 italic;
}

#basic h6 {
    color: white;
    font-size: 15px;
    font-weight: 100;
    text-align: start;
    margin-top: -20px;
    margin-bottom: 20px;
}