/* .container {
    border: 1px solid red;
    box-shadow: 0px 0px 10px #cccccc;
} */

/* .col {
    min-height: 160px;
    border: 1px solid blue;
} */

body {
    font-family: 'Raleway', sans-serif;
}

div.col {
    padding-left: 0px;
    padding-right: 0px;
}



.carousel-indicators li {
    width: 13px !important;
    height: 13px !important;
    border-radius: 100% !important;
    }

#header {
    min-height: 160px;
    background: #343740;
    border-bottom: 10px solid #666970;
}

.ctx-header {
    display: grid;
    justify-items: center;
    align-items: center;
}

#header h2{
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    color: #07AC8F;
}

#header p{
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.ctx-logo {
    display: flex;
    justify-content: center;
    align-content: center;
}



#logo {
    width: 150px;
    height: 150px;
    background: white;
    text-align: center;
    line-height: 150px;
}

#info {
    text-transform: uppercase;
    color: white;
}

.brillo {
    background: #00AC90;
}

.lupa {
    background: #066480;
}

.camara {
    background: #343740; 
}

.brillo, .lupa, .camara {
    height: 300px;
    display: grid;
    justify-content: center;
}

.brillo h3, .lupa h3, .camara h3{
    text-align: center;
    margin-top: 20px;
}

.brillo p, .lupa p, .camara p{
    text-transform: initial;
    font-size: 13px;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
    text-align: justify;
}

.brillo img, .lupa img, .camara img{
    justify-self: center;
}

#section1 {
    background: #f2f2f2;
}

.articles {
    background: #343740; 
}

#after {
    width: 1px;
    height: 100px;
    background-color: #00ad91;
}

.articles h4 {
    color: #07AC8F;
    text-transform: capitalize;
}

.articles p {
    color: white;
}

.articles li {
    list-style: none;
}

#gallery1 img:hover {
    transform: scale(1.05);
}

#precios {
    background: #f2f2f2;
}

#contacto {
    background-color: #686868;
    color: #FFFFFF;
    text-align: center;
}

#contacto h3 a{
    color: #FFFFFF;
    text-decoration: none;
}

#contacto h2:after {
    content: "";
    display: block;
    width: 50px;
    height: 5px;
    background-color: #00ad91;
    margin-top: 5px;
}

#contacto h2 {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#contacto p {
    margin-top: 0;
    margin-bottom: 1rem;
}

#main-footer {
    background-color: #00ad91;
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
}

#wsp img{
    width: 70px;
    height: 70px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

#wsp img:hover {
    filter: grayscale(50%);
    transform: scale(1.05);
}


.gray {
    color: #00ac90;
    background: #d6d7d7 !important;
    height: 30px;
    font-style: black;
    text-align: center;
} 
  
.gray h5 {
    font-size: 30px;
    line-height: 5px;
}

.gray span {
    font-size: 20px;
}  

#basic {
    font-family: 'Ubuntu', sans-serif;
}

#basic li{
    font-weight: 500;
}

#basic li strong{
    font-weight: 600;
    color: #076480;
    font-size: 25px;
}

#basic h4 {
    color: white;
    font-size: 35px;
    line-height: 35px;
}

#basic .head {
    background: #076480;
}

#basic:hover{
    box-shadow: 0px 0px 5px #076480;
}

#basic h6 {
    color: white;
    font-size: 15px;
    font-weight: lighter;
    margin-top: -20px;
}

#simple {
    font-family: 'Ubuntu', sans-serif;
}

#simple li{
    font-weight: 500;
}

#simple li strong{
    font-weight: 600;
    color: #00ac90;
    font-size: 25px;
}

#simple h4 {
    color: white;
    font-size: 35px;
    line-height: 35px;
}

#simple .head2{
    background: #00ac90;
}

#simple:hover{
    box-shadow: 0px 0px 5px #00ac90;
}

#simple h6 {
    color: white;
    font-size: 15px;
    font-weight: lighter;
    margin-top: -20px;
}

#comercial {
    font-family: 'Ubuntu', sans-serif;
}

#comercial li{
    font-weight: 500;
}

#comercial li strong{
    font-weight: 600;
    color: #343740;
    font-size: 25px;
}

#comercial h4 {
    color: white;
    font-size: 35px;
    line-height: 35px;
}

#comercial .head3{
    background: #343740;
}

#comercial:hover{
    box-shadow: 0px 0px 5px #343740;
}

#comercial h6 {
    color: white;
    font-size: 15px;
    font-weight: lighter;
    margin-top: -20px;
}

#stock {
    font-family: 'Ubuntu', sans-serif;
}

#stock li{
    font-weight: 500;
}

#stock li strong{
    font-weight: 600;
    color: #6D5EA1;
    font-size: 25px;
}

#stock h4 {
    color: white;
    font-size: 35px;
    line-height: 35px;
}

#stock .head4{
    background: #6D5EA1;
}

#stock:hover{
    box-shadow: 0px 0px 5px #6D5EA1;
}

#stock h6 {
    color: white;
    font-size: 15px;
    font-weight: lighter;
    margin-top: -20px;
}