.ct-box-slider{
	margin-right: -15px;
	padding-right: -15px;
	border-right: 70px solid #00ad91;
}

.ct-box{
	font-family: 'stenciletta-solid', sans-serif;
	font-size: 23px;
	display: block;
	color: #000;
}
.ct-box .hover{
	display: none;
}

.ct-box .inner{
	background: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center;
	height: 300px;
  	cursor: pointer;
}
.ct-box .inner .fa {
  font-size: 64px;
}

.ct-box:hover .normal{
	display: none;
}
.ct-box:hover .hover{
	display: block;
}

@media (max-width: 991px){
	.ct-box-slider{
		margin-left: -15px;
		border-right: none;
		border-bottom: 50px solid #00ad91;
	}
}

@media (max-width: 479px){
	.ct-box{
		font-size: 18px;
	}
	.ct-box img{
		max-height: 200px;
	}
	.ct-box .inner{
		padding: 10px;
	}
}